body,
#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: rgba(0,0,0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    /* background: linear-gradient(to right, red, yellow); */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    width: 100%;
    margin-top: 20px;
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    text-transform: none;
    letter-spacing: 0.01em;
}

footer {
    font: 0.5em 'Raleway', sans-serif;
    margin-top: auto;
}

#random {
    margin: 15px;

}
